<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-pushpin"></i>
					Frequently Asked Questions					
				</h1>
				
				<div class="widget">
														
					<div class="widget-content">
						
						<h3>Search...</h3>
									
						
						<ol class="faq-list">
							<div id="support">
							<div class="plan-actions">				
									<a data-toggle="modal" href="#contactSupport"  class="btn">Submit Support Ticket</a>		

							</div>
							<div class="modal fade" id="contactSupport" >
 								 <div class="modal-header" >
   								  <!-- <button type="button" class="close" data-dismiss="modal" ></button> -->
    									<h3>Question?</h3>
  								  </div>
  								  <form action="dashboard/support" method="post">
  								  	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  									<div style="" class="modal-body" >
    									<div class="control-group">
											<div class="controls">
												<!-- <input type="text" style="font-size: 24px;width: 520px;height: 30px;" name="group[name]" class="" id="username"> -->
												<textarea class="input-xlarge" id="textarea" style="width: 520px;"  name="message" rows="6"></textarea>
											</div>
										</div>
  									</div>
  									<div class="modal-footer" >
   										 <a href="#" class="btn" data-dismiss="modal" >Close</a>
   										 <button type="submit" class="btn btn-primary">Submit</button>
 									 </div>
 									</form>
								</div>
							<br>
						</div> <!-- END OF SUPPORT DIV -->
							
							<li>
									<h4>How can I get my own domain name?</h4>
									<p>The Internet Corporation for Assigned Names and Numbers (ICANN) maintains a list of accredited registrars . Any of the companies on this list can register a domain name for you. You can also acquire domains from GoDaddy Auctions.</p>	
									
							</li>
							
							
							<li>
									<h4>How do I change my password?</h4>
									<p>Navigate to your user account panel, and you can change your password there.</p>	
										
							</li>
							
							<li>
								
									<h4>How do I create new blogs?</h4>
									<p>You must first create a blog group, them you'll see an option to add new blogs to them.</p>	
									
									
							</li>
							
							<li>
									<h4>When I cancel my monthly subcription what happens to my blog?</h4>
									<p>You'll still have access to all your blogs and you'll be able to manage them from inside your blog's Wordpress Dashboard.</p>	
									
							</li>
							
							<li>
								
									<h4>Are my blog url's private?</h4>
									<p>Yes, all your blog url's are private and only you have access to them.</p>	
									
							</li>
							
							<li>
								
									<h4>What content do you recommand I post?</h4>
									<p>You can post any content you wish excluding pornographic content. Also, unique content are recommended.</p>	
									
							</li>

							<li>
								
									<h4>Do my blogs have different ip addresses?</h4>
									<p>Yes you blogs will have different ip addresses depending on what segment they're in, in the cloud.</p>	
									
							</li>
							
							
						</ol>
										
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
				
				
				
			</div> <!-- /span9 -->
			