<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-list"></i>
					Pricing Plans					
				</h1>
				
				
				
				
				
				
				<div class="widget">
					
					<div class="widget-header">
						<h3>Available Plans</h3>
					</div> <!-- /widget-header -->
														
					<div class="widget-content">
						
						<div class="pricing-plans plans-3">
							
						<div class="plan-container">
					        <div class="plan">
						        <div class="plan-header">
					                
						        	<div class="plan-title">
						        		Micro	        		
					        		</div> <!-- /plan-title -->
					                
						            <div class="plan-price">
					                	<span class="note">$</span>15<span class="term">Per Month</span>
									</div> <!-- /plan-price -->
									
						        </div> <!-- /plan-header -->	        
						        
						        <div class="plan-features">
									<ul>
										<li><strong>Free</strong> setup</li>
										<li><strong>$9 one-time fee</strong> per blog creation</li>
										<li><strong>25</strong> Domains</li>
										<li><strong>25</strong> Blogs</li>
										<li><strong>24/7</strong> Support</li>
										<!-- <li><strong>$0</strong> Google Adwords Credit</li> -->
									</ul>
								</div> <!-- /plan-features -->
							<% if @current_user.plan_id.nil? || @current_user.plan_id != "1"%>	
							<form id="micro" action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="P69PBKLLKWUPW">
								<input type="hidden" name="custom" value="<%=user_id%>">
								<div class="plan-actions">				
									 <a href="javascript:;" onclick="document.getElementById('micro').submit();" class="btn">Purchase Now</a>		
								</div> <!-- /plan-actions -->
							</form>	
							<%else%>
								<div class="plan-actions">				
									 <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=rickna_1345020858_biz@gmail.com" class="btn">Cancel</a>		
								</div> 
							<%end%>				

							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->
					    
					    <div class="plan-container">
					        <div class="plan">
						        <div class="plan-header">
					                
						        	<div class="plan-title">
						        		Starter	        		
					        		</div> <!-- /plan-title -->
					                
						            <div class="plan-price">
					                	<span class="note">$</span>35<span class="term">Per Month</span>
									</div> <!-- /plan-price -->
									
						        </div> <!-- /plan-header -->       
						        
						        <div class="plan-features">
									<ul>
										<li><strong>Free</strong> setup</li>
										<li><strong>$6 one-time fee</strong> per blog creation</li>
										<li><strong>60</strong> Domains</li>
										<li><strong>60</strong> Blogs</li>
										<li><strong>24/7</strong> Support</li>
										<!-- <li><strong>$25</strong> Google Adwords Credit</li> -->
									</ul>
								</div> <!-- /plan-features -->
								
						<% if @current_user.plan_id.nil? || @current_user.plan_id != "2"%>	
							<form id="starter" action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="JV589E52CWRSQ">
								<input type="hidden" name="custom" value="<%=user_id%>">
								<div class="plan-actions">				
									 <a href="javascript:;" onclick="document.getElementById('starter').submit();" class="btn">Purchase Now</a>		
								</div> <!-- /plan-actions -->
							</form>	
							<%else%>
								<div class="plan-actions">				
									 <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=rickna_1345020858_biz@gmail.com" class="btn">Cancel</a>		
								</div> 
							<%end%>
					
							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->
					    
					    <div class="plan-container">
					        <div class="plan orange">
						        <div class="plan-header">
					                
						        	<div class="plan-title">
						        		Business	        		
					        		</div> <!-- /plan-title -->
					                
						            <div class="plan-price">
					                	<span class="note">$</span>75<span class="term">Per Month</span>
									</div> <!-- /plan-price -->
									
						        </div> <!-- /plan-header -->	          
						        
						        <div class="plan-features">
									<ul>					
										<li><strong>Free</strong> setup</li>
										<li><strong>$4 one-time fee</strong> per blog creation</li>
										<li><strong>140</strong> Domains</li>
										<li><strong>140</strong> Blogs</li>
										<li><strong>24/7</strong> Support</li>
										<!-- <li><strong>$65</strong> Google Adwords Credit</li> -->
									</ul>
								</div> <!-- /plan-features -->
								
						<% if @current_user.plan_id.nil? || @current_user.plan_id != "3"%>	
							<form id="micro" action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="HSAG25DXMGF3S">
								<input type="hidden" name="custom" value="<%=user_id%>">
								<div class="plan-actions">				
									 <a href="javascript:;" onclick="document.getElementById('micro').submit();" class="btn">Purchase Now</a>		
								</div> <!-- /plan-actions -->
							</form>	
							<%else%>
								<div class="plan-actions">				
									 <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=rickna_1345020858_biz@gmail.com" class="btn">Cancel</a>		
								</div> 
							<%end%>
							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->
				
				
					</div> <!-- /pricing-plans -->
										
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
				
				
				
				
				<div class="widget">
					
					<div class="widget-header">
						<h3>More Info!</h3>
					</div> <!-- /widget-header -->
														
					<div class="widget-content">
						
						<p>If you need more accomodation that the ones listed above please contact support via the support ticket in the faqs page.</p>
						
						<!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
				
				
				
			</div> <!-- /span9 -->