<!DOCTYPE html>
<html>
<body>
	<p>Hi Richard,</p>
	<p><%= @current_user.name %>, contacted support.</p>
	<p>Email: <%=@current_user.email %> </p>
	<p> Message: <%= @msg %></p>
	<p>Have a nice day!,</p>
	<p><a href ="http://cdnb2b.com">CdNB2B</a></p>
	
</body>
</html>
